
body{
    float:left;
    width: 100%;
}
th {
        border: 4px solid red;
}
#test {
    border:1px solid
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}
th {
    background: #eee;
}
a {
    text-decoration: none;
}
#frame {
    border-spacing:32px 8px;
    margin-left: auto;
    margin-right: auto;
}
.month {
    kwidth: 100%;
    border-collapse: collapse;
}
.youbi_0 {
    color: red;
}
.youbi_6 {
    color: blue;
}
.holidayId {
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    visibility: hidden;
    background-color:#fbff96;
}
.holi {
    color : red;
    border-radius:10px;
}

